<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の編集</h2>
  <form action="/smash/update/<%= id %>" method="POST">
    <table>
      <tr><th>項目</th><th>データ</th></tr>
      <tr><td>名前</td><td><input type="text" name="name" value="<%= data.name %>"></td></tr>
      <tr><td>出典</td><td><input type="text" name="series" value="<%= data.series %>"></td></tr>
      <tr><td>No.</td><td><input type="text" name="number" value="<%= data.number %>"></td></tr>
    </table>
    <input type="submit" value="登録">
  </form>
  <a href="/smash/">一覧に戻る</a>
</body>
</html>